@import "./variables.css";

* html,
h3,
h1,
span,
img {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
/* header styles */
.header {
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  min-height: 80px;
  padding: 0px 36px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #cacfd2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.logo {
  color: var(--primary);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu {
  display: none;
}

.menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu ul a {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.menu ul a.is-active {
  color: var(--primary);
  padding: 10px 0px;
  border-bottom: 4px solid #2980b9;
}
.menu ul li a:hover {
  padding: 10px 0px;
  border-bottom: 4px solid #2980b9;
}

.btn {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  min-height: 50px;
  transition: 0.8s ease;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn-primary:hover {
  background-color: var(--secondary);
  border: 1px solid #154360;
}

.btn-secondary {
  background: unset;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}
.btn-secondary:hover {
  background: var(--primary);
  color: var(--white);
}

/* personal info */
.info {
  margin: 16px;
}
.info-content {
  color: var(--primary);
  text-align: center;
}

.card {
  border-radius: 15px;
  display: flex;
  height: 330px;
  justify-content: center;
  width: auto;
}
.person {
  background-size: cover;
}
.info-description {
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

/* social media */

.social {
  padding-block-end: 24px;
  display: flex;
  gap: 16px;
}

.btn-icon {
  border-radius: 4px;
  border: 3px solid var(--primary);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s all;
}
.btn-icon:hover {
  background-color: #aed6f1;
}
.btn-icon img {
  vertical-align: middle;
}
/* section coment */
.comment {
  /* flex-direction: column; */
  color: var(--secondary);
  display: block;
  margin-block-start: 15px;
  padding-block-end: 40px;
  padding-block-start: 40px;
  padding: 0px 16px;
  text-align: center;
}
.comment h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.comment_info {
  font-weight: 700;
}
.comment img {
  height: 60px;
  width: 60px;
}

/* section projects */
.project {
  padding: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 4rem;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.project-description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 50%;
}

.project-img img {
  justify-content: center;
  max-inline-size: 100%;
}

.title {
  align-self: flex-start;
  background: var(--primary);
  color: var(--white);
  font: 18px 700;
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  box-shadow: -4px 4px 0 var(--secondary);
  text-decoration: none;
  /* margin-inline-start: 4px; */
}
.contact {
  background: #e5f8fd;
}
/* form contact */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-inline-size: 540px;
  margin: auto;
}

.form {
  margin-block-end: 80px;
}

.form .title {
  margin: auto;
}

.form p {
  color: var(--black);
  margin: 0;
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form label {
  font: var(--button);
}

.form input,
.form textarea {
  border: 2px solid #858c94;
  border-radius: 8px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  font: var(--body1);
  margin-block-start: 8px;
}

/* fgooter */

.footer-content {
  color: var(--black);
  text-align: center;
  padding: 16px;
}

.footer-logo {
  display: none;
}

.footer .social {
  justify-content: center;
  padding: 0;
}
/* media querys */
@media screen and (min-width: 768px) {
  .header {
    gap: 20%;
  }
  .menu {
    display: block;
  }

  .info {
    margin: 5%;
    padding: 3%;
    gap: 45px;
    background-color: #d4e6f1;
    /* padding: 10%; */
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
  }
  .info-description {
    font-size: 18px;
  }
  .card:nth-child(odd) {
    flex: 1;
    order: 2;
  }
  .footer {
    background-color: #d0ece7;
  }
  .info-content {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .project {
    display: flex;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end: 80px;
    gap: 32px;
  }
  .project-description {
    flex: 1;
  }
  /* selector de elementops impares */
  .project:nth-child(odd) .project-img {
    order: 2;
    flex: 1;
    max-width: 45%;
    max-height: 30%;
    text-align: center;
  }
  .form .title {
    align-self: stretch;
    text-align: center;
  }

  .footer-content {
    background-color: #d0ece7;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    display: block;
  }
  .footer .social {
    order: 3;
  }
}

@media screen and (min-width: 1024px) {
  .footer-copyright {
    display: flex;
    gap: 8px;
  }
  .footer {
    padding: 2%;
    background-color: #d0ece7;
  }
}

/* section  */
